<div class="container" id="mainPanel">
    <div class="row">
        <div class="col-md-12">

            <div id="searchBox">
                <div class="form-group">
                    <input type="text" class="form-control" name="search" id="search" placeholder="Search">
                </div>        

                <div id="searchIcon"><i class="fa fa-search"></i></div>            

            </div>
            <br><br><br><br>

            <group [groups]="allGroups"></group>
        </div>
    </div>
</div>